.cinema-body {
  background: url(../img/sala-de-cine.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.logo-img {
 height: 100px;
}
.navbar-inverse {
  min-height: 10%;
  background: rgba(51, 51, 255, 0.95);
  border: none;
}
.container-fluid {
  margin-top: 64px;
}
.jumbotron {
  background: url(../img/Rollo.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-bottom: 0px;
  border-radius: 0px !important;
}
.jumbotron-img {
  margin-top: 20px;
}
.jumbotron-text {
  font-size: 16px;
  color: white;
  margin-top: 20px;
}
.redes-sociales {
  margin-top: 20px;
  }
.redes-sociales img {
  height: 40px;
}
.welcome-title {
  color: white;
  margin-right: 10px;
}
.titulo-cartelera {
  min-height: 45px;
  background-color: rgba(102, 153, 255, 0.50);
}
.titulo-text {
  font-size: 18px;
  font-weight: bolder;
  color: white;
  padding: 10px;
}
.movies-row {
  background-color: rgba(0, 0, 12, 0.8) ;
  min-height: 350px;
  padding-left: 15px;
  padding-right: 15px;
}
.movie-title {
  color: white;
}
.img-movies {
  height: 260px;
  padding: 6px;
  margin-top: 22px;
}
.movies-column {
  margin-top: 5px;
  background-color: rgba(179, 217, 255, 0.30);
  min-height: 330px;
  border: 1px dashed white;
}
.left-column {
  border-right: 1px dashed white;
}
.services-text {
  color: #FFFF;
  margin-top: 13px;
}
.user-data {
  margin-top: 10px;
  font-size: 18px;
  color: white;
}
.input-element {
  width: 100%;
  height: 28px;
  padding: 10px;
  color: white;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  border-style: none;
  margin-top: 5px;
}
@media (max-width 770px) {
  .right-column {
    display: none;
  }
  .movies-row {
    min-height: 250px;
  }
  .movies-column {
    min-height: 230px;
  }
  .jumbotron {
    min-height: 350px;
  }
  h2 {
    font-size: 22px;
  }
  .titulo-cartelera {
    font-size: 15px;
  }
  .jumbotron {
    min-height: 400px;
  }
  .jumbotron-img {
    margin-top: 20px;
  }
  .img-movies {
  height: 133px;
  padding: 6px;
  margin-top: 22px;
}
}
